body {
  background: rgb(0, 2, 27);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 30vw 1fr;
  grid-template-rows: 8vw 1fr;
}
#div1 {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: flex;
  flex-direction: row;
}
#div2 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  border-radius: 20px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  background: rgb(63, 63, 78);
}
#top {
  font-size: 3rem;
  height: 80vh;
}
#title1 {
  margin-top: 100px;
  margin-left: 80px;
  font-size: 4.5rem;
  background-color: rgb(228, 79, 38);
  color: white;
  border-radius: 20px;
  width: fit-content;
  padding: 30px;
}
#prev {
  position: absolute;
  top: 8vh;
  right: 5vw;
}
#img1 {
  width: 600px;
  border-radius: 20px;
  transition-duration: 0.3s;
  box-shadow: 5px 2px 18px black;
}
#img1:hover {
  transform: scale(1.05);
}
#hint {
  position: absolute;
  font-size: 1rem;
  right: 15.5vw;
  top: 45vh;
}
#top button img {
  width: 30px;
}
#left {
  position: absolute;
  border: none;
  background: none;
  right: 27vw;
  top: 44.4vh;
  transition-duration: 0.3s;
}
#right {
  position: absolute;
  border: none;
  background: none;
  right: 12vw;
  top: 44.4vh;
  transition-duration: 0.3s;
}
#left:hover,
#right:hover {
  transform: scale(1.2);
}
#name {
  margin-left: 80px;
  margin-top: 130px;
}
#para {
  font-weight: normal;
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 80px;
  margin-top: 50px;
  width: 58vw;
  line-height: 40px;
  text-align: justify;
  text-justify: inter-word;
}
#bottom {
  height: 20vh;
}
#goTo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(55, 177, 171, 0.1);
  text-decoration: none;
  width: 30vw;
  height: 10vh;
  margin: auto;
  margin-top: 4vh;
  border-radius: 20px;
  color: white;
  font-size: 3rem;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 18px black;
}
#goTo:hover {
  transform: scale(1.05);
}
#div3 {
  grid-column: 1 / 1;
  grid-row: 2 / 3;
  overflow-y: scroll;
}
#menuContainer {
  margin-left: 80px;
  margin-top: 50px;
}
#menuIcon {
  width: 60px;
  transition-duration: 0.3s;
}
#menuIcon:hover {
  transform: scale(1.1);
}
#title {
  font-size: 3rem;
  margin-left: 50px;
  margin-top: 50px;
}
#project1,
#project2,
#project3,
#project4,
#project5 {
  height: 250px;
  width: 490px;
  margin-left: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 5px 2px 18px black;
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.2);
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 4px 4px 10px black inset;
}
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 20px;
}
#project1 {
  margin-top: 7px;
  transition-duration: 0.3s;
  background: url(../images/websiteLogo.png);
  background-repeat: no-repeat;
  background-size: 470px;
  background-position: 10px;
  background-color: rgb(48, 48, 48);
  text-shadow: 2px 2px 8px black;
  transform: scale(1.05);
}
#project2 {
  transition-duration: 0.3s;
  background: url(../images/jsLogo.png);
  background-repeat: no-repeat;
  background-size: 246px;
  background-position-x: 200px;
  background-position-y: -20px;
  background-color: rgb(247, 224, 24);
  text-shadow: 2px 2px 8px black;
}
#project3 {
  transition-duration: 0.3s;
  background: url(../images/cppLogo.png);
  background-repeat: no-repeat;
  background-size: 246px;
  background-position: center;
  background-color: rgb(1, 10, 91);
  text-shadow: 2px 2px 8px black;
}
#project4 {
  transition-duration: 0.3s;
  background: url(../images/pyLogo.png);
  background-repeat: no-repeat;
  background-size: 246px;
  background-position: center;
  background-color: rgb(29, 34, 68);
  text-shadow: 2px 2px 8px black;
}
#project5 {
  transition-duration: 0.3s;
  background: url(../images/blendLogo.png);
  background-repeat: no-repeat;
  background-size: 246px;
  background-position: left;
  background-position-y: -10px;
  background-color: rgb(255, 193, 134);
  text-shadow: 2px 2px 8px black;
}
